-- STOCKWISE ORGANIZATION SCHEMA v2
-- Run in Supabase SQL Editor

-- 1. EXTENSIONS
CREATE EXTENSION IF NOT EXISTS pgcrypto;

-- 2. TABLES
CREATE TABLE IF NOT EXISTS public.business_profiles (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  name TEXT NOT NULL,
  subdomain TEXT UNIQUE NOT NULL,
  owner_name TEXT NOT NULL,
  owner_id UUID REFERENCES auth.users(id) ON DELETE SET NULL,
  address TEXT,
  business_type TEXT,
  currency TEXT DEFAULT 'NGN' NOT NULL,
  onboarded BOOLEAN DEFAULT false NOT NULL,
  plan TEXT DEFAULT 'FREE' NOT NULL,
  trial_ends_at TIMESTAMPTZ,
  pos_balance NUMERIC DEFAULT 0 NOT NULL,
  created_at TIMESTAMPTZ DEFAULT now() NOT NULL,
  updated_at TIMESTAMPTZ DEFAULT now() NOT NULL
);

CREATE TABLE IF NOT EXISTS public.users (
  id UUID PRIMARY KEY REFERENCES auth.users(id) ON DELETE CASCADE,
  business_id UUID REFERENCES public.business_profiles(id) ON DELETE CASCADE NOT NULL,
  name TEXT NOT NULL,
  email TEXT NOT NULL UNIQUE,
  role TEXT DEFAULT 'EMPLOYEE' NOT NULL CHECK (role IN ('OWNER','EMPLOYEE','MANAGER')),
  is_active BOOLEAN DEFAULT true NOT NULL,
  last_login TIMESTAMPTZ,
  created_at TIMESTAMPTZ DEFAULT now() NOT NULL,
  updated_at TIMESTAMPTZ DEFAULT now() NOT NULL
);

CREATE TABLE IF NOT EXISTS public.products (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  business_id UUID REFERENCES public.business_profiles(id) ON DELETE CASCADE NOT NULL,
  name TEXT NOT NULL,
  category TEXT NOT NULL,
  cost_price NUMERIC NOT NULL DEFAULT 0,
  selling_price NUMERIC NOT NULL DEFAULT 0,
  quantity INTEGER DEFAULT 0 NOT NULL,
  low_stock_threshold INTEGER DEFAULT 5 NOT NULL,
  sku TEXT,
  barcode TEXT,
  image_url TEXT,
  description TEXT,
  is_active BOOLEAN DEFAULT true NOT NULL,
  created_by UUID REFERENCES public.users(id) ON DELETE SET NULL,
  updated_by UUID REFERENCES public.users(id) ON DELETE SET NULL,
  created_at TIMESTAMPTZ DEFAULT now() NOT NULL,
  updated_at TIMESTAMPTZ DEFAULT now() NOT NULL
);

CREATE TABLE IF NOT EXISTS public.sales (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  business_id UUID REFERENCES public.business_profiles(id) ON DELETE CASCADE NOT NULL,
  product_id UUID REFERENCES public.products(id) ON DELETE SET NULL,
  product_name TEXT NOT NULL,
  quantity INTEGER NOT NULL,
  unit_price NUMERIC NOT NULL,
  total_amount NUMERIC NOT NULL,
  profit NUMERIC NOT NULL DEFAULT 0,
  payment_method TEXT DEFAULT 'cash' NOT NULL,
  customer_name TEXT,
  customer_phone TEXT,
  recorded_by UUID REFERENCES public.users(id) ON DELETE SET NULL,
  timestamp TIMESTAMPTZ DEFAULT now() NOT NULL,
  notes TEXT
);

CREATE TABLE IF NOT EXISTS public.activity_logs (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  business_id UUID REFERENCES public.business_profiles(id) ON DELETE CASCADE NOT NULL,
  type TEXT NOT NULL,
  product_id UUID REFERENCES public.products(id) ON DELETE SET NULL,
  quantity_change INTEGER,
  reason TEXT,
  description TEXT NOT NULL,
  performed_by UUID REFERENCES public.users(id) ON DELETE SET NULL,
  timestamp TIMESTAMPTZ DEFAULT now() NOT NULL,
  metadata JSONB
);

CREATE TABLE IF NOT EXISTS public.expenses (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  business_id UUID REFERENCES public.business_profiles(id) ON DELETE CASCADE NOT NULL,
  description TEXT NOT NULL,
  amount NUMERIC NOT NULL,
  category TEXT NOT NULL,
  receipt_image_url TEXT,
  recorded_by UUID REFERENCES public.users(id) ON DELETE SET NULL,
  timestamp TIMESTAMPTZ DEFAULT now() NOT NULL,
  notes TEXT
);

-- 3. RLS ENABLE
ALTER TABLE public.business_profiles ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.users ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.products ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.sales ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.activity_logs ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.expenses ENABLE ROW LEVEL SECURITY;

-- 4. HELPER FUNCTION - Get user business_id
CREATE OR REPLACE FUNCTION get_user_business_id()
RETURNS UUID AS $$
  SELECT business_id FROM public.users WHERE id = auth.uid() LIMIT 1;
$$ LANGUAGE sql SECURITY DEFINER;

-- 5. RLS POLICIES
-- Users can see users in same business
CREATE POLICY "Users can view users in same business" ON public.users
  FOR SELECT USING (business_id = get_user_business_id());

CREATE POLICY "Users can update users in same business" ON public.users
  FOR UPDATE USING (business_id = get_user_business_id());

CREATE POLICY "Users can insert users in same business" ON public.users
  FOR INSERT WITH CHECK (business_id = get_user_business_id());

-- Business profiles
CREATE POLICY "Users can view their business profile" ON public.business_profiles
  FOR SELECT USING (id = get_user_business_id());

CREATE POLICY "Owner can update business profile" ON public.business_profiles
  FOR UPDATE USING (id = get_user_business_id() AND EXISTS (
    SELECT 1 FROM public.users WHERE id = auth.uid() AND role = 'OWNER' AND business_id = get_user_business_id()
  ));

CREATE POLICY "Insert profile allowed" ON public.business_profiles
  FOR INSERT WITH CHECK (true);

-- Products
CREATE POLICY "Users view products for their business" ON public.products
  FOR SELECT USING (business_id = get_user_business_id());

CREATE POLICY "Users modify products for their business" ON public.products
  FOR ALL USING (business_id = get_user_business_id());

-- Sales
CREATE POLICY "Users view sales for their business" ON public.sales
  FOR SELECT USING (business_id = get_user_business_id());

CREATE POLICY "Users modify sales for their business" ON public.sales
  FOR ALL USING (business_id = get_user_business_id());

-- Activity logs
CREATE POLICY "Users view activity logs for their business" ON public.activity_logs
  FOR SELECT USING (business_id = get_user_business_id());

CREATE POLICY "Users insert activity logs for their business" ON public.activity_logs
  FOR INSERT WITH CHECK (business_id = get_user_business_id());

-- Expenses
CREATE POLICY "Users view expenses for their business" ON public.expenses
  FOR SELECT USING (business_id = get_user_business_id());

CREATE POLICY "Users modify expenses for their business" ON public.expenses
  FOR ALL USING (business_id = get_user_business_id());

-- 6. UPDATED_AT TRIGGER
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER update_business_profiles_updated_at BEFORE UPDATE ON public.business_profiles
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_products_updated_at BEFORE UPDATE ON public.products
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

-- 7. REALTIME
DROP PUBLICATION IF EXISTS supabase_realtime;
CREATE PUBLICATION supabase_realtime;
ALTER PUBLICATION supabase_realtime ADD TABLE public.products;
ALTER PUBLICATION supabase_realtime ADD TABLE public.sales;
ALTER PUBLICATION supabase_realtime ADD TABLE public.activity_logs;
ALTER PUBLICATION supabase_realtime ADD TABLE public.expenses;
